.boxContent {
  width: 220px;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  background-color: #e6e8ea;
   margin: 10px 20px;
  //align-items: center;
  cursor: pointer;
  justify-content: center; 

  .contentImage{
    height: 200px;
  }

  .imageProduct {
    width: 100%;
  }
  
  .boxDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > p {
      color: #7a7a7a;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      margin-bottom: 0;
    }

    button {
      margin: 10px;
      background: #000000;
      border-radius: 5px;
      color: #ffffff;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      height: 30px;
      width: 60%;
      text-transform: uppercase;
    }
  }
}
